<article class="observations card">
    <div class="title card-header">
        <a href=http://{{observer.observer_url}} target="_blank">{{observations_name}}</a>
        {{log observer}}
        <div class="observer_name">
            <p>observer Name: {{observer.observer_name}}</p>
        </div>

    </div>
    <div class="card-body">
        <div class="address">
            <p>Address: {{observer.address}}, {{observer.address_city}}, {{observer.address_state}}
                {{observer.address_zip}}</p>
        </div>

        <div class="observer_url">
            <p>observer Link: <a href=http://{{observer.observer_url}} target="_blank">{{observer.observer_url}}</a></p>

        </div>

        {{!-- <div class="observations_category">
            <p>Type of observations: {{observations_category}} </p>
        </div> --}}

    </div>

    <div class="meta">
        created by {{observer.observer_name}} on {{format_date created_at}}
        |
        <a href="/observations/{{observations_id}}">{{comments.length}} {{format_plural "note" comments.length}}</a>
    </div>
</article>