<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Edit Observation
    </h2>
    <form class="edit-observations-form">
        <p>Name of Observation</p>
        <div>
            <input name="observations_name" type="text" value="{{observations.observations_name}}" />
        </div>
        <p>Observations Type</p>
        {{!-- <div>
            <input name="observations_category" type="text" value="{{observations.observations_category}}" />
        </div> --}}
        {{!-- <p>Cost</p>
        <div>
            <input name="cost" type="text" value="{{observations.cost}}" />
        </div> --}}
        {{!-- <div>
            created on {{format_date observations.created_at}}
            |
            <a href="/observations/{{observations.observations_id}}">{{observations.comments.length}} {{format_plural "note"
                observer.comments.length}}</a>
        </div> --}}
        <button type="submit">Save observation</button>
        <button type="button" class="delete-observations-btn">Delete observation</button>
    </form>
</article>

<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add note</button>
    </div>
</form>

{{> comments observations.comments}}

<script src="/javascript/edit-observations.js"></script>
<script src="/javascript/delete-observations.js"></script>
<script src="/javascript/comment.js"></script>